version: '3.9'

services:
  nginx:
    image: nginx:latest
    container_name: nginx_dev
    ports:
      - "8081:80"
    volumes:
      - ./:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php:
    build: 
      context: ./php
      dockerfile: Dockerfile
    container_name: php_dev
    volumes:
      - ./:/var/www/html

  db:
    image: mariadb:latest
    container_name: mariadb_dev
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: copypaste
      MYSQL_USER: devuser
      MYSQL_PASSWORD: devpass
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
