# Configuració de la Base de Dades
DB_HOST=localhost
DB_NAME=portapapers
DB_USER=root
DB_PASS=

# Configuració de l'Aplicació
HEX_LENGTH=6
REFRESH_INTERVAL=2000

# Neteja Automàtica
CLEANUP_HOURS=2

# Mode Debug
DEBUG=true
